<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ heading }}</title>
</head>

<body>
    <header>
        {% comment %} <nav>
            <ul>
                <li>
                    <a href="{% url 'admin:index' %}">Admin Login</a>
                </li>
            </ul>
        </nav> {% endcomment %}
    </header>

    <main>
        <h1>List of Books</h1>
        <ul>
            {% for book in books %}
            <li>
                <h2>{{ book.title }} by {{ book.author }}</h2> <br><img src={{book.image}} height="300px">
                <br>
                <h4>ISBN: {{book.isbn}} <br> Publishing Year: {{book.year_published}} <br>
                    Pages: {{book.pages}} <br> </h4>
                <h5> Description: <br> {{book.description}}
                </h5>
            </li>
            {% endfor %}
        </ul>
    </main>

</body>

</html>